<div class="book-entry" ng-if="screenSize > 800">
  <div class="col s12 m5">
    <a href="" class="" data-toggle="modal" data-target=".footerbookModal{{book.id}}">
      <img class="cover-image" ng-if="book.high_res_image || book.large_image || book.medium_image || book.small_image || book.thumbnail_image" ng-src="{{book.medium_image}}">
      <div ng-if="!book.high_res_image && !book.large_image && !book.medium_image && !book.small_image && !book.thumbnail_image" class='blank-cover'>
        <img class="cover-image" ng-src="{{ blankCovers[hash(book.title, blankCovers.length)] }}">
        <div class="blank-cover-title">
          <div class="cover-title">{{ book.title }}</div>
          <div class="cover-author">{{ book.author.name }}</div>
          <script>
            var blankCoverSizing = function () {
              var coverWidth = $('img.cover-image').width();
              var coverHeight = $('img.cover-image').height();
              $('.cover-title').css({
                'width': coverWidth * 0.7,
                'font-size': coverWidth * 0.075
              });
              $('.blank-cover-title').css({
                top: coverHeight * 0.27
              });
              $('.cover-author').css({
                'width': coverWidth * 0.7,
                'font-size': coverWidth * 0.05
              });
            };

            $('img.cover-image').on('load', blankCoverSizing);
            $(window).resize(blankCoverSizing);
          </script>
        </div>
      </div>
    </a>
  </div>
</div>


<div ng-controller='FeedController' class="footerbookModal{{book.id}} modal fade footerbookModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="col s12 m7 v-middle">
        <div class="card book-info">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="card-title title">{{ book.title }}</span>
          </div>
        </div>
        </div>
        <div class="modal-body">
          <div class="card-content">
            <div>Author: {{ book.author.name }}</div>

        <div ng-if="book.reaction">Your opinion: {{ reactions[book.reactionSlider/25 + 1] }} </div>
        <div ng-if="book.avgReaction">Community opinion: {{ reactions[(Math.round(book.avgReaction))] }} <span class="avg-rating">({{ book.avgReaction }}/5)</span></div>
        <div ng-if="!book.avgReaction"><a target="_blank" href="{{ book.amz_url || 'http://amazon.com/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=rdr0a-20&linkId=PIYOGYVDVLZ2HCQZ'}}" class="be-first">Be the first to read it!</a>
        </div>
        <div class="action-buttons modal-btns">
            <a class="meet-btn" ng-click="getMeetups(book)">Meet Up</a>
            <div class="dropdown read-btn" ng-if="book.reaction === undefined && signedIn">
              <a class="read-btn dropdown-toggle" type="button" data-toggle="dropdown">Add
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="footerAddBook(book); hideModal(); hasRead = true; book.reaction = 5;">Book I've read</a></li>
                <li><a ng-click="addToReadList(book.title, book.ISBN, book.publisher, book.high_res_image, book.large_image, book.medium_image, book.small_image, book.thumbnail_image, book.amz_url, book.author.name, book); hideModal()" >Book I want to read</a></li>
              </ul>
            </div>
          <a target="_blank" href="{{ book.amz_url || 'http://amazon.com/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=rdr0a-20&linkId=PIYOGYVDVLZ2HCQZ'}}" class="amz-btn">
            <img src="/assets/img/amz_logo.png" />
          </a>
        </div>
        </div>

          </div>
        </div>
    </div>
  </div>
</div>



